body {
    font-family: 'Lato', sans-serif;
    background: #000;
    color: white;
    font-size: 18px;
}

.logo {
    font-size: 50px;
}

.inputLabel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info {
    width: 342px;
    text-align: center;
}

.inputLogin {
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
}

.loginPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 200px;
    /* justify-content: center; */
}

.loginBtn {
    background-color: transparent;
    height: 54px;
    width: 100px;
    border: 1px solid white;
    margin: none;
    padding: none;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.loginBtn:hover {
    border: 5px solid white;
}

#tetris {
    /* display: none */
    display: flex;
    flex-direction: row-reverse;
    /* gap: 50px; */
    /* margin: auto; */
}

#tetris div.ui {
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    vertical-align: top;
}

#tetris div.game {
    display: inline-block;
}

#tetris table {
    margin: 10px;
    border-collapse: collapse;
    -webkit-box-shadow: -5px 5px 15px #607d8b;
    box-shadow: -5px 5px 15px #607d8b;
}

#tetris .glass tr:first-child {
    display: none;
}

#tetris td {
    width: 20px;
    height: 20px;
}

#tetris td.j {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.l {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.o {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.i {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.s {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.t {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris td.z {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#tetris .score-field {
    font: 1.5em sans-serif;
    display: inline-block;
    margin: 15px;
    padding: 5px;
    border: 1px solid #607d8b;
    /* background-color: #f5f5f5; */
    -webkit-box-shadow: -5px 5px 15px #607d8b;
    box-shadow: -5px 5px 15px #607d8b;
}

.game-board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    /* background-color: black; */
    /* border: 1px solid gray; */
    /* background-color: wh; */
    /* padding: 10px; */
    /* margin: 10px; */
    /* border-collapse: collapse; */
}

.z,
.i,
.j,
.l,
.o,
.s,
.t {
    background-color: white;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px #555; */
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

.fieldOpponent table {
    /* box-shadow: inset 3px 4px 5px #f5f5f5; */
    /* background-color: white; */
    border: 1px solid white;
    border-collapse: collapse;
}

.gamePage {
    display: flex;
    gap: 0px;
    text-align: left;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.nothing {
    display: flex;
}

.q {
    color: white;
}

.name {
    display: none;
}